<%- include('partials/header') -%>
<h1>Home page</h1>

<p><%= appHome %></p>
<% Posts.forEach(function(Post){ %>
        
        <h1><%= Post.title %></h1>
        <% if(Post.content.length > 50){ %>
                <% let PostContent = Post.content; %>
                <p><%= Post.content.substring(0, 50) + "..." %>
                <a href="/posts/:<%= Post.title %>">Read more</a>
                </p>
        <% }else{ %>
                <p><%= Post.content%></p>
        <% } %>
<%})%>

<%- include('partials/footer') -%>